## Common
DATA_PATH_HOST=~/.docker/data

COMPOSE_FILE=docker-compose.yml
COMPOSE_PROJECT_NAME=referral_net

## Node
NODE_VERSION=14-alpine

## MySQL
MYSQL_VERSION=latest
MYSQL_DATABASE=referral_app
MYSQL_USER=luke
MYSQL_PASSWORD=secret
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root
MYSQL_ENTRYPOINT_INITDB=./mysql/docker-entrypoint-initdb.d

## Redis
REDIS_PORT=6379
